RewriteEngine On

# Check if the request is not HTTPS
RewriteCond %{HTTPS} !=on

# Redirect to HTTPS
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Block access to all files except index files
# Block access to all directories
