/* 
===============================
PAGE ALERT
===============================
*/

.page-alert-container {
    top: var(--header-height);
    right: 10px;
    z-index: 1050 !important;
}

.page-alert {
    box-shadow: 0 0 10px #eee;
    max-width: 320px;
    width: 100%;
}

.page-alert .alert-close {
    height: 35px;
    width: 35px;
    background: var(--color-light);
    border-radius: 50%;
}

@media (max-width:786px) {
    .page-alert {
        top: 0;
        right: 0;
        width: 100%;
        box-shadow: 0;
        height: var(--header-height);
        transform-origin: top;
    }
}