body {
    background: var(--color-light);
}

.container-icon {
    height: 90px;
    width: 90px;
    line-height: 90px;
    text-align: center;
}
.container-icon i{
    font-size: 2rem;
}

.top-controls .btn {
    height: 42px;
    width: 42px;
    padding: 0;
}

.top-controls .btn i {
    font-size: 1.3rem;
}

.top-controls .btn:hover {
    background: var(--color-light-30);
}

.top-controls h1 {
    font-family: var(--font-logo);
    font-weight: 600;
}

.remote-peer-info {
    line-height: 19px;
}

.remote-peer-img {
    height: 55px;
    width: 55px;
}

.btn-decline-call {
    background: var(--color-red);
    font-size: 1.1rem;
    transition: all .16s ease;
}

.btn-decline-call .call-icon {
    transform: rotate(90deg);
    font-size: 1.2rem;
}

.btn-decline-call:hover {
    transform: scale(1.1);
    background: var(--color-red);
}

.popup-header .btn-back{
    height: 38px;
    width: 38px;
    line-height: 38px;
    background-color: var(--color-light);
}

.popup-header .btn-back  i{
    font-size: 1.2rem;
}