.header {
    background: #fff;
    box-shadow: 0 0 10px #eee;
    z-index: 998 !important;
}

.header .nav {
    height: var(--header-height);
}

.app-logo .app-logo-src {
    width: 200px;
}

.requests-menu {
    width: 320px;
    box-shadow: 0 0 10px #eee;
}

.requester-info {
    line-height: 19px;
}

.requester-info small {
    font-weight: 300;
}

.requests-list .request-item {
    cursor: pointer;
}

.requests-menu-container {
    right: 75px;
    top: 80px;
    transition: all .15s ease;
    transform: scale(0);
    transform-origin: top right;
    z-index: 4;
    max-height: 320px;
    overflow: auto;
    box-shadow: 0 0 10px #eee;
}

.header-btn {
    height: 36px;
    width: 36px;
    padding: 0;
    border-radius: 150px;
}

.header-btn i {
    font-weight: 100 !important;
    font-size: 1.4rem;
}

.header-btn:hover {
    background: #f7f7f7;
}

.btn-profile-link {
    border: 2px solid var(--color-red);
    height: 46px;
    width: 46px;
    padding: 2px !important;
}

.btn-profile-link img {
    height: 100%;
    width: 100%;
}

.requests-menu-container.show {
    transform: scale(1);
}

.pending-req-badge {
    background: var(--color-primary);
    font-size: .92rem;
}

@media (max-width:560px) {
    .brand .brand-text {
        font-size: 1.5rem;
    }

    .requests-menu-container {
        position: fixed !important;
        max-height: 420px;
        right: 0;
        top: 0;
        width: 100%;
        padding: 10px;
    }

    .requests-menu-container .requests-menu {
        width: 100%;
    }

    .app-logo .app-logo-src{
        width: 160px;
    }
}