.hleft  {
    background: url(../images/747-7470354_live-chat-support-illustration-hd-png-download-removebg-preview.png) no-repeat center;
    background-size: contain;
    height: 500px;
    width: 500px;
}

.htext{
    min-width: 390px;
}

.htext .btn{
    letter-spacing: .1rem;
    background-color: var(--color-dark);
} 

@media(max-width:460px){
    .htext{
        min-width: 0;
    }
}