.hleft  {
    background: url(../images/illustrated-best-friends-video-calling_23-2148504107-removebg-preview.png) no-repeat center;
    background-size: contain;
    height: 400px;
    width: 400px;
}

.htext{
    min-width: 390px;
}

.htext .btn{
    letter-spacing: .1rem;
    background-color: var(--color-dark);
} 

@media(max-width:460px){
    .htext{
        min-width: 0;
    }
}