.form-container{
    max-width: 420px;
    width: 100%;
}

.field input {
    height: 42px;
    margin-top: 5px;
    background: #fafafa;
    font-size: 1.1rem;
    color: #00000080;
}

.field input:focus {
    background: #fafafa;
}

.field input[type='password']{
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

.field input::placeholder{
    font-size: 1.1rem;
}

.field label {
    font-size: .9em;
}

#submit {
    height: 42px;
    background: var(--color-primary);
    letter-spacing: .03rem;
}

#submit i {
    font-size: 1.1rem;
}